<form>
  <div class="form-group">
    <label for="Email1">Email address</label>
    <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" id="Password1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

// email to mysql, 
// on submit, post the login info to db
// check if an eixiting record matching; then verify password, then a go.
// password incorrect, send a warning
// reset password, optional
// sign up
// post to db
// redirect automatically
// doc on firebase, with mysql. connection to firebase. best way