<div class="row justify-content-center mt-3">
    <h4 id="header4">{{bracketName}}</h4>
    <div class="col-md-6">
        <div class="container createB">
            <div class="bracketContainer" data-bracket="{{id}}">

            </div>
        </div>
    </div>
    <div class="col-md-4 bracketSignup">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Name/Team Name</label>
                <input type="text" class="form-control" id="signupName" placeholder="MRBEASTMODE93/Cloud9">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="signupEmail" placeholder="name@example.com">
            </div>
            <button class="btn btn-primary btn-lg btn-block" id="bracketSignupButton">Sign up</button>

        </form>
    </div>
</div>


<script src="../public/js/jquery.bracket.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            method: "GET",
            url: "/api/brackets/" + $(".bracketContainer").data("bracket")
        })
            .then(function (data) {
                teams = data.teamNames[0];
                results = data.scores[0];

                var data = {
                    teams: teams,
                    results: results
                }

                if (data.bracketType === "Single Elimination") {
                    var singleEliminationData = {
                        teamWidth: 100,
                        scoreWidth: 20,
                        matchMargin: 30,
                        roundMargin: 50,
                        init: data
                    };

                    $(function () {
                        var container = $('.bracketContainer')

                        container.bracket(singleEliminationData);
                    });
                } else {
                    var doubleEliminationData = {
                        teamWidth: 100,
                        scoreWidth: 20,
                        matchMargin: 30,
                        roundMargin: 50,
                        skipGrandFinalComeback: true,
                        init: data
                    };

                    $(function () {

                        var container = $('.bracketContainer');

                        $(container).bracket(doubleEliminationData);

                    });
                };
            });
    });

</script>