<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <div class="container createB">
            <h4 id="header4">Create New Bracket</h4>
            <form>
                <div class="form-group">
                    <label for="tourneyName">Tournament Name</label>
                    <input type="text" class="form-control" id="tourneyName" placeholder="Enter a name">
                </div>
                <div class="form-group">
                    <label for="tourneyDate">Date</label>
                    <input type="text" class="form-control" id="tourneyDate" placeholder="00-00-20XX">
                </div>
                <div class="form-group">
                    <label for="tourneyType">Tournament Type</label>
                    <select class="form-control" id="tourneyType">
                        <option>Single Elimination</option>
                        <option>Double Elimination</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gameType">Select a game</label>
                    <select class="form-control" id="gameType">
                        <option>Street Fighter V</option>
                        <option>Super Smash Bros. Ultimate</option>
                        <option>CRinge of legends</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tourneyDescription">Brief description of your event</label>
                    <textarea class="form-control" id="tourneyDescription" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


    