<h1 class="text-center">{{username}}'s Brackets</h1>

<div class="row mt-3">
    {{#each brackets}}
    <div class="col-md-4 mb-2">
        <div class="card dynamicCard">
            <div class="card-body">
                <h5 class="card-text">{{this.dataValues.bracketName}}</h5>
                <p class="card-text">This bracket is a {{this.dataValues.bracketType}}</p>
                <a href="/api/bracket/{{this.dataValues.id}}" class="btn btn-primary">Link to bracket</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>