<div class="warning">
</div>

<form>
        <div class="form-group">
          <label for="Email1">Name</label>
          <input type="text" class="form-control" id="personalName" aria-describedby="emailHelp" placeholder="">
          <small id="email" class="form-text text-muted">Enter your email</small>
        </div>
        <div class="form-group">
          <label for="Email1">Gamertag</label>
          <input type="email" class="form-control" id="gamerName" aria-describedby="emailHelp" placeholder="">
          <small id="diplayName" class="form-text text-muted">Enter your desired gamertag</small>
        </div>
      
        <div class="form-group">
          <label for="Password1">Password</label>
          <input type="password" class="form-control" id="password1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="Password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Password">
        </div>
        <button type="submit" id="signupSubmit" class="btn btn-success">Submit</button>
      </form>
      <a href="/login" id="redirect">Already have an account? Log in.</a>
      </div>
      </div>
      </div>
    <script src="../public/js/register.js"></script>